
        {{>admin-loginheader}}
        <body>
    
        {{>admin-sidebar}}

        {{>admin-navbar}}
        

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Hotels List </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>

                                        <tr>
                                            <th>Image</th>
                                             <th>Hotel Id</th>                                           
                                            <th>Hotels name</th>
                                            <th>Place</th>
                                            <th>Mobile Number</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                            {{#each hotelsdata}}

                                    <tr>
                                        {{!-- <td>{{this._id}}</td> --}}
                                        <td>
                                        <img style="width: 50px; height:50px" src="/images/sign-images/{{this.Image}}" alt="">
                                        </td> 
                                        <td>{{this.hotelId}}</td>
                                        <td>{{this.name}}</td>
                                        <td>{{this.Place}}</td>
                                        <td>{{this.mobilenumber}}</td>
                                        <td>{{this.email}}</td>
                                        
                                        <td>

                            {{#if this.blocked}} 

                            <!-- Use a form for the unblock button -->
                            <form action="/admin/unblock/{{this._id}}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-success" style="width: 140px;">approve</button>
                            </form>

                            {{else}}

                            <form action="/admin/block/{{this._id}}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger" style="width: 140px;">Disapprove</button>
                            </form>

                            {{/if}}      

                            </td>

                             </tr>

                             {{/each}}
                                    
                                    </tbody>
                                </table>
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div>

            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>

        </section>
         <!-- content-main end// -->
        {{!-- <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer> --}}
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>